@import 'variables.scss';
@import 'sass-bootstrap/lib/bootstrap';

@import 'tools.scss';
@import 'landscape.scss';


.js-animated {
    @include transition(opacity 0.7s);
}

html body {

    .main {
        overflow:hidden;
        position:absolute;
        left:50%;
        top:0;
        width:960px;
        height:560px;
        margin-left:(-960px/2);
        background:url("../images/landscape/ciel.png") repeat-x top center $body-bg;
        @include transform-origin("top center");

        .scrollable {
            position:absolute;
            top:0;
            left:0;
            width:960px;
            height:560px;
            overflow:hidden;
        }
    }

    .do-fade {
        @include transition(opacity 0.7s);
        opacity:0;
    }

    h2, h3 {
        text-transform: uppercase;
        font-weight:bold;
    }

    h3 {
        margin-top:12px;
    }

    h4 {
        font-weight:bold;
        margin-bottom:0;
    }

    a {
        text-decoration:underline;
        cursor:pointer;
    }

    ul {
        list-style-type: none;
        padding-left:0;
        margin-left:0;

        li {
            background: url("../images/ui/bullet.png") no-repeat 0 10px;
            padding-left:8px;
        }

        &.list-unstyled li {
            background:none;
            padding-left:0;
        }
    }

    .label {
        font-size: $font-size-base * 0.9;
        line-height: $font-size-base * 0.9;
        padding:0 3px;
    }
}

.bt {
    @include hide-text();
    display:inline-block;
    cursor:pointer;

    &:hover {
        background-position: bottom left;
    }

    &.bt-commencez {
        width:253px;
        height:37px;
        background-image:url("../images/ui/bt_commencez.png");
    }

    &.bt-detail {
        width:212px;
        height:44px;
        background-image:url("../images/ui/bt_detail.png");
    }

    &.bt-global {
        width:179px;
        height:44px;
        background-image:url("../images/ui/bt_global.png");
    }
}

.logo {
    z-index:$zindex-logo;
    position:fixed;
    top:0;
    left:50%;
    height:168px;
    width:266px;
    margin-left:-1*266px/2;

    .big-one, .small-one {
        position:absolute;
        top:-168px;
        left:0;
        display:block;
        height:100%;
        background:url("../images/ui/logo.png");
        @include transition(top 0.6s linear);
    }

    .big-one {
        width:100%;
        .home & {
            top:0;
        }
    }

    .small-one {
        cursor:pointer;
        width:157px;
        left: ( 266px - 157px ) / 2;
        background-position:-266px 0;
        .detail &,
        .global & {
            top:0;
        }
    }

}

.nav {
    z-index:$zindex-nav;
    position:absolute;
    top:190px;
    left:10px;
    right:10px;
    display:none;

    .detail & {
        display:block;
    }

    a {
        display: block;
        width:77px;
        height:77px;
        margin:10px;

        position:absolute;
        top:0;

        &:hover {
            background-position: 0 bottom;
        }

        &.previous {
            left:0;
            background-image:url("../images/ui/previous.png");
        }

        &.next {
            right:0;
            background-image:url("../images/ui/next.png");
        }
    }
}

.home-overlay {
    z-index:$zindex-workspace - 10;
    position:absolute;
    top:-100%;
    left:-100%;
    bottom:-100%;
    right:-100%;
    background:black;
    display:none;
    @include opacity(0.2);

    .home & {
        display:block;
    }
}

.workspace {
    z-index:$zindex-workspace;
    position:absolute;
    top:293px;
    left:50%;
    margin-left:-1px*920px/2px;
    background:no-repeat center top;
    width:920px;
    padding:10px 28px;
    margin-bottom:200px;
    color:#646a6b;
    $trans:left 0.6s, top 0.6s;
    @include transition($trans);

    h3 {
        color:$text-color;
        margin-top:5px;
    }

    .bt-out {
        position:absolute;
        top:100%;
        left:0;
        right:0;
        margin-top:-25px;
    }

    .col-border {
        border-left: solid #dfe0db 1px;
        height:150px;
    }

    &.workspace-home {
        background-image:url("../images/ui/cartouche_home.png");
        height:294px;
        top:270px;
        left:150%;
        font-weight: 600;
        font-size:17px;
        padding-top:30px + 40px;
        .home & {
            left:50%;
        }
    }

    &.workspace-detail {
        background-image:url("../images/ui/cartouche_detail.png");
        height:240px;
        left:-50%;
        position:relative;
        padding-right:10px;

        .row {
            padding-top:7px;
        }

        .detail & {
            left:50%;
        }

        &:before {
            position:absolute;
            top:(37px/-2);
            left:50%;
            margin-left:(37px/-2);
            content:url("../images/ui/triangle.png");
        }

        ul li:first-letter {
            text-transform:uppercase;
        }
    }

    &.workspace-global {
        $indicator-width:60px;
        $recettes-color: #19d898;
        $depenses-color: #f49703;

        background-image:url("../images/ui/cartouche_global.png");
        height:478px;
        left:50%;
        top:1000px;

        .global & {
            top:293px;
        }

        .pie {
            position:absolute;
            left:50%;
            top:120px;
            width:371px;
            margin-left: (-371px/2);
            z-index:10;
            opacity:1;
            pointer-events: none;
            @include transition(opacity 600ms);

            &.pie-others {
                opacity:0;
                .lt-ie9 & {
                    display:none;
                }
            }
        }

        .js-bound-draw {
            z-index:20;
            pointer-events: none;
        }


        &.show-others {
            .list-depenses.with-absolute {
                @include opacity(0.1);
            }

            .pie {
                opacity:0;

                .lt-ie9 & {
                    display:none;
                    &.pie-others {
                        display:block;
                    }
                }

                &.pie-others {
                    opacity:1;
                }
            }

            .others {
                right:70px;
                opacity:1;
            }
        }

        .list-recettes,
        .list-depenses {
            width:273px;
            font-size:12px;
            line-height:1.2em;
            @include opacity(1);
            @include transition(opacity 600ms);

            &.with-absolute {
                position:absolute;
            }

            li {
                padding-top:2px;
                padding-bottom:2px;
                margin-bottom:4px;
                position:relative;
                z-index:30;
                overflow: hidden;

                strong {
                    background:url("../images/ui/point.png") no-repeat center left;
                    display:block;
                    position:absolute;
                    top:50%;
                    bottom:0;
                    width:100%;
                    height:50px;
                    line-height:50px;
                    margin-top:(-50px/2);
                }
            }
        }

        .list-recettes {
            top:200px;
            left:10px;

            li {
                padding-right:$indicator-width;
                strong {
                    color:$recettes-color;
                    background-position: center right;
                    padding-right:15px;
                }
            }
        }

        .list-depenses {
            top:142px;
            right:10px;

            li {
                padding-left:$indicator-width;

                strong {
                    left:0;
                    color:$depenses-color;
                    padding-left:15px;
                }
            }
        }

        .others {
            background:#fff;
            position:absolute;
            right:-300px;
            bottom:30px;
            z-index:40;
            width:220px;
            padding:10px;
            border-radius: 3px;
            opacity:0;
            @include transition(600ms);
            @include box-shadow(0 0 6px 0 #dedede);

            h5 {
                color:$depenses-color;
            }

            .list-depenses {
                width:auto;
            }
        }
    }
}

footer {
    z-index:$zindex-footer;

    position:fixed;
    left:50%;
    top:530px;
    width:960px;
    height:560px;
    margin-left:(-960px/2);
    padding:0 20px;
    @include transition(top 0.6s linear);
}
