@import 'variables.scss';
@import 'sass-bootstrap/lib/bootstrap';

@import 'tools.scss';
@import 'landscape.scss';

html body {

    .main {
        overflow:hidden;
        position:absolute;
        left:50%;
        top:0;
        width:960px;
        height:560px;
        margin-left:-480px;
        background:url("../images/landscape/ciel.png") repeat-x top center $body-bg;        
    }

    h2, h3 {
        text-transform: uppercase;
        font-weight:bold;
    }

    h3 {
        margin-top:12px;
    }

    h4 {
        font-weight:bold;
        margin-bottom:0;
    }


}

.bt {
    @include hide-text();
    display:inline-block;
    cursor:pointer;

    &:hover {
        background-position: bottom left;
    }

    &.bt-commencez {
        width:253px;
        height:37px;
        background:url("../images/ui/bt_commencez.png") 0 0;
    }

    &.bt-detail {
        width:212px;
        height:44px;
        background:url("../images/ui/bt_detail.png") 0 0;
    }

    &.bt-global {
        width:179px;
        height:44px;
        background:url("../images/ui/bt_global.png") 0 0;
    }
}

.logo {
    z-index:$zindex-logo;
    position:fixed;
    top:0;
    left:50%;
    height:168px;
    width:266px;
    margin-left:-1*266px/2;

    .big-one, .small-one {
        position:absolute;
        top:-168px;
        left:0;
        display:block;
        height:100%;
        background:url("../images/ui/logo.png");
        @include transition(top 0.6s);
    }

    .big-one {
        width:100%;
        .home & {
            top:0;
        }
    }

    .small-one {
        cursor:pointer;
        width:157px;
        left: ( 266px - 157px ) / 2;
        background-position:-266px 0;
        .detail &, .global & {
            top:0;
        }
    }

}

.nav {
    z-index:$zindex-nav;
    position:absolute;
    top:190px;
    left:10px;
    right:10px;
    display:none;

    .detail & {
        display:block;
    }

    a {
        display: block;
        width:77px;
        height:77px;   
        margin:10px;

        position:absolute;
        top:0;
        
        &:hover {
            background-position: 0 bottom;
        }

        &.previous {
            left:0;
            background-image:url("../images/ui/previous.png");
        }

        &.next {
            right:0;
            background-image:url("../images/ui/next.png");
        }
    }
}

.home-overlay {
    z-index:$zindex-workspace - 10;
    position:absolute;
    top:-100%;
    left:-100%;
    bottom:-100%;
    right:-100%;
    background:black;    
    display:none;
    @include opacity(0.2);

    .home & {
        display:block;
    }
}

.workspace {
    z-index:$zindex-workspace;
    position:absolute;
    top:300px - 30px;
    left:50%;
    margin-left:-1px*920px/2px;
    background:no-repeat center top;
    width:920px;
    padding:10px 30px;
    margin-bottom:200px;
    $trans:left 0.6s, top 0.6s;
    @include transition($trans);

    .bt-out {
        position:absolute;
        top:100%;
        left:0;
        right:0;
        margin-top:-25px;
    }

    &.workspace-home {
        background-image:url("../images/ui/cartouche_home.png");
        height:294px;
        left:150%;
        font-weight: 600;
        font-size:17px;
        padding-top:30px + 40px;
        .home & {
            left:50%;
        }
    }

    &.workspace-detail {
        background-image:url("../images/ui/cartouche_detail.png");
        height:240px;
        left:-50%;
        position:relative;

        .detail & {
            left:50%;
        }

        &:before {
            position:absolute;            
            top:-13px;
            left:50%;
            margin-left:-17px;
            content:url("../images/ui/triangle.png");
        }
    }

    &.workspace-global {
        background-image:url("../images/ui/cartouche_global.png");
        height:478px;
        left:50%;
        top:1000px;

        .global & {
            top:300px - 30px;
        }
    }
}

footer {
    z-index:$zindex-footer;
    position:fixed;
    bottom:10px;
    left:20px;
}