//
// Variables
// --------------------------------------------------
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
// Stack settings
$zindex-landscape: 1000;
$zindex-workspace: $zindex-landscape+1000;
$zindex-nav      : $zindex-workspace+1000;
$zindex-logo     : $zindex-nav+1000;

// Brand colors
// -------------------------

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-info:            #5bc0de !default;

// Scaffolding
// -------------------------

$body-bg:               #707E7F !default;
$text-color:            #3f4344 !default;

// Links
// -------------------------

$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;

// Typography
// -------------------------

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          13px !default;
$font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
$font-size-small:         ceil($font-size-base * 0.85) !default; // ~12px

$font-size-h1:            floor($font-size-base * 2.6) !default; // ~36px
$font-size-h2:            20px;
$font-size-h3:            14px;
$font-size-h4:            $font-size-base !default;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil($font-size-base * 0.85) !default; // ~12px

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px

$headings-font-family:    $font-family-base !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;