#landscape
  .clouds
    //- Empty block that shows clouds
  .all
    //- Empty block that shows every zones
  .foreground
    //- Empty block that shows the foreground
  .zone1.zone
    img(src='images/landscape/01-pilotis.png', width='250', height='212')
  .zone2.zone
    img(src='images/landscape/02-gare.png', width='342', height='191')
  .zone3.zone
    img(src='images/landscape/03-cinema.png', width='257', height='232')
  .zone4.zone
    img(src='images/landscape/04-hopital.png', width='432', height='194')
  .zone5.zone
    img(src='images/landscape/05-tour.png', width='158', height='269')
  .zone6.zone
    img(src='images/landscape/06-conseil-regional.png', width='251', height='231')
  .zone7.zone
    img(src='images/landscape/07-nouvel-amenagement.png', width='333', height='206')
  .zone8.zone
    img(src='images/landscape/08-universite.png', width='324', height='215')
  .zone9.zone
    img(src='images/landscape/09-rampe.png', width='273', height='172')
  .zone10.zone
    img(src='images/landscape/10-securite.png', width='323', height='179')
  .zone11.zone
    img(src='images/landscape/11-usine.png', width='272', height='208')
  .zone12.zone
    img(src='images/landscape/12-lycee.png', width='265', height='214')
  .zone13.zone
    img(src='images/landscape/13-boulangerie.png', width='251', height='190')
  .zone14.zone
    img(src='images/landscape/14-immeuble.png', width='215', height='229')
  .zone15.zone
    img(src='images/landscape/15-foret.png', width='671', height='245')