#landscape(landscape, background=".clouds", wrapper=".all", listen="activeZone")
  .clouds
    //- Empty block that shows clouds
  .all
    //- Empty block that shows every zones
  .foreground
    //- Empty block that shows the foreground
  .zone-1.zone(ng-class="{active: activeZone == 1}")
    .clickable(ng-click="zone(1)")
    img(src='images/landscape/01-pilotis.png', width='250', height='212')
  .zone-2.zone(ng-class="{active: activeZone == 2}")
    .clickable(ng-click="zone(2)")
    img(src='images/landscape/02-gare.png', width='342', height='191')
  .zone-3.zone(ng-class="{active: activeZone == 3}")
    .clickable(ng-click="zone(3)")
    img(src='images/landscape/03-cinema.png', width='257', height='232')
  .zone-4.zone(ng-class="{active: activeZone == 4}")
    .clickable(ng-click="zone(4)")
    img(src='images/landscape/04-hopital.png', width='432', height='194')
  .zone-5.zone(ng-class="{active: activeZone == 5}")
    .clickable(ng-click="zone(5)")
    img(src='images/landscape/05-tour.png', width='158', height='269')
  .zone-6.zone(ng-class="{active: activeZone == 6}")
    .clickable(ng-click="zone(6)")
    img(src='images/landscape/06-conseil-regional.png', width='251', height='231')
  .zone-7.zone(ng-class="{active: activeZone == 7}")
    .clickable(ng-click="zone(7)")
    img(src='images/landscape/07-nouvel-amenagement.png', width='333', height='206')
  .zone-8.zone(ng-class="{active: activeZone == 8}")
    .clickable(ng-click="zone(8)")
    img(src='images/landscape/08-universite.png', width='324', height='215')
  .zone-9.zone(ng-class="{active: activeZone == 9}")
    .clickable(ng-click="zone(9)")
    img(src='images/landscape/09-rampe.png', width='273', height='172')
  .zone-10.zone(ng-class="{active: activeZone == 10}")
    .clickable(ng-click="zone(10)")
    img(src='images/landscape/10-securite.png', width='323', height='179')
  .zone-11.zone(ng-class="{active: activeZone == 11}")
    .clickable(ng-click="zone(11)")
    img(src='images/landscape/11-usine.png', width='272', height='208')
  .zone-12.zone(ng-class="{active: activeZone == 12}")
    .clickable(ng-click="zone(12)")
    img(src='images/landscape/12-lycee.png', width='265', height='214')
  .zone-13.zone(ng-class="{active: activeZone == 13}")
    .clickable(ng-click="zone(13)")
    img(src='images/landscape/13-boulangerie.png', width='251', height='190')
  .zone-14.zone(ng-class="{active: activeZone == 14}")
    .clickable(ng-click="zone(14)")
    img(src='images/landscape/14-immeuble.png', width='215', height='229')
  .zone-15.zone(ng-class="{active: activeZone == 15}")
    .clickable(ng-click="zone(15)")
    img(src='images/landscape/15-foret.png', width='671', height='245')