//- Navigation buttons
.nav
    a.previous(ng-click="activeZone = activeZone - 1", ng-show="activeZone > 1")
    a.next(ng-click="activeZone  = activeZone + 1", ng-show="activeZone < 15")
//- Landscape part that move behind everything
include landscape.jade

//- Logo at the top of the application
.logo
    //- This logo is in to sizes
    .big-one
    .small-one(ng-click="to('home')")

//- An overlay only visible on the home screen
.home-overlay

//- Introduction to understand the app
.workspace.workspace-home.text-center
    p
        | Les conditions de vie des Francilien(ne)s<br />
        | sont au cœur du budget 2914 de l'Île-de-France.<br />
        | Naviguez dans les 15 grands domaines d'investissement de la Région.
    p
        a.bt.bt-commencez(ng-click="to('detail')")
            | Commencez l'experience

//- Dynamic part that show the details of every zone
.workspace.workspace-detail
    h2.text-center(ng-style="{color: detail.color1}") {{detail.name}}
    .row
        .col-xs-4
            img(ng-src="./images/charts/{{activeZone}}.png").pull-right         
            h3 Budget&nbsp;: {{detail.budget}} M€
            div(ng-style="{color: detail.color1}")
                .color-inherit
                    h4 Investissement
                    | {{detail.investissement}} millions €  
            div(ng-style="{color: detail.color2}")
                .color-inherit
                    h4 Fonctionnement
                    | {{detail.fonctionnement}} millions €  
        .col-xs-4
            h3 Axes forts 
            p {{detail.axes}}
        .col-xs-4        
            h3 Exemples 
    p.text-center.bt-out
        a.bt.bt-global(ng-click="to('global')")
            | Budget global

//- Global budget
.workspace.workspace-global.text-center    
    h2.top-50.bottom-30 Budget global
    img(src="./images/charts/global.png")
    p.text-center.bt-out
        a.bt.bt-detail(ng-click="to('detail')")
            | Budget par secteur